<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table,th,td{
        border: 1px solid dodgerblue;
    }
</style>
<body>
<table style="width: 100%">
    <tr>
        <td>
            copnamy
        </td>
        <td>tamim</td>
    </tr>
    <tr>
        <td>1. jsabvhbsv</td>
        <td>2. jhsbfhbshbfshdfjhbsjdhbfhjsbdfh</td>
        <td>3. hsgdavfghdvshg</td>
    </tr>
<input type="text"  placeholder="sghdv">Discription
</table>
hv
</body>
</html>