{% load static   %}

    <!-- Required Js -->
{#    <script src="/static/assets/js/vendor-all.min.js"></script>#}
{#    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>#}


{#      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}


{##}
{#    <script src="/static/jquery/dist/jquery.min.js"></script>#}
{#    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="/static/ajax_datatable/js/utils.js"></script>#}
{##}
{#    <script src="/static/datatables.net/js/jquery.dataTables.min.js"></script>#}
{#    <script src="/static/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>#}
{##}
{#    <script src="/static/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
{#    <script src="/static/datatables.net-buttons/js/buttons.print.min.js"></script>#}
{#    <script src="/static/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
{#    <script src="/static/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>#}
{##}
{#    <script src="/static/jszip/dist/jszip.min.js"></script>#}
{#    <script src="/static/pdfmake/build/pdfmake.min.js"></script>#}
{#    <script src="/static/pdfmake/build/vfs_fonts.js"></script>#}

    <script type="text/javascript" src="{% static 'assets/plugins/ajax_datatable/Bootstrap-4-4.6.0/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/ajax_datatable/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/ajax_datatable/DataTables-1.11.2/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/ajax_datatable/DataTables-1.11.2/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/plugins/dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/range-selector/jquery.range.js' %}"></script>
    <script src="{% static 'assets/plugins/tinymce/tinymce.min.js' %}"></script>
